html {
    font-size: 16px;
}

body {
    font-family: 'KoHo', sans-serif;
    margin: 0 auto;
}

header {
    font-weight: 200;
    margin: 0 20px;
    text-decoration: underline;
}

.topicContainer {
    border: 2px solid darkgray;
    margin: 20px 20px;
}

.topicContainer h1,
p {
    margin: 20px 20px;
}

.topicContainer h2 {
    margin: 20px 20px;
    text-align: center;
    text-decoration: underline;
}

.container {
    display: flex;
    margin: 20px 30px;
}

.redColor {
    background-color: #DC143C;
    border-radius: 15px;
    color: #FFF;
    font-size: 24px;
    margin: 20px 20px;
    padding: 10px 0;
    width: 33%;
    text-align: center;
}

.greenColor {
    background-color: #00FF7F;
    border-radius: 15px;
    font-size: 24px;
    margin: 20px 20px;
    padding: 10px 0;
    text-align: center;
    width: 33%;
}

.blueColor {
    background-color: #00FFFF;
    border-radius: 15px;
    font-size: 24px;
    margin: 20px 20px;
    padding: 10px 0;
    text-align: center;
    width: 33%;
}

.fontContainer {
    margin: 5px 100px;
}

.fontContainer h3 {
    text-decoration: underline;
}

.barlow {
    font-family: 'Barlow', sans-serif;
}

.notoSans {
    font-family: 'Noto Sans KR', sans-serif;
}

.robotoMon {
    font-family: 'Roboto Mono', monospace;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.none {
    text-align: left !important;
}