@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');

$button1: linear-gradient(322.24deg, #60D9FF -4.38%, #1D74FF 48.84%);
$button2: linear-gradient(273.325deg, #60D9FF -4.12%, #1D74FF 50.92%);
$button3: linear-gradient(224.41deg, #60D9FF -3.86%, #1D74FF 53%);
$button4: linear-gradient(175.495deg, #60D9FF -3.55%, #1D74FF 55.08%);
$button5: linear-gradient(126.58deg, #60D9FF -3.24%, #1D74FF 57.16%);

$blue-shadow: 0px 0px 20px hsla(203, 100, 63.9, 0.5);
$bottom-shadow: 0px 5px 5px -1px hsla(217, 79.9, 57.1, 0.2);
$top-inset: inset 4px 4px 8px hsla(199, 100, 84.3, 0.5);
$dark-inset: inset -4px -4px 8px hsla(217, 83.8, 46.1, 0.3);

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    min-height: 100vh;

    font-size: max(5vmin, 16px);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    background: $button1;
    border: none;
    border-radius: 20px;
    box-shadow: $blue-shadow, $bottom-shadow, $top-inset, $dark-inset;
    color: #FFF;
    cursor: pointer;
    font-family: 'Recursive', sans-serif;
    font-size: 3.25REM;
    height: 9.25REM;
    line-height: 4REM;
    width: 26.4REM;
    animation: twirl-in 0.3 ease-out;
}

button:hover {
    animation: twirl 0.3s ease-in-out;
    background: $button5;
}

@keyframes twirl {
    0% {
        background: $button1;
    }

    25% {
        background: $button2;
    }

    50% {
        background: $button3;
    }

    75% {
        background: $button4;
    }

    100% {
        background: $button5;
    }
}